@model List<MAJS.Models.Evento>
@{
    ViewBag.Title = "Index";
}

<div class="content">
    <div class="row">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3>Próximos Eventos</h3>
                @foreach (var item in Model)
                {
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-red">
                            <span class="info-box-icon bg-green"><i class="fa fa-calendar-check-o"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">@item.Titulo</span>
                                <span class="info-box-text">Domingo</span>
                                <span class="info-box-number">13<small>/</small>01<small>/</small>2019</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /.row (main row) -->
</div>

