@model List<MAJS.Models.Evento>
@{
    ViewBag.Title = "Index";
}

<div class="content">
    <div class="row">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3>Próximos Eventos</h3>
                @foreach (var item in Model)
                {
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-red">
                            <span class="info-box-icon bg-green"><i class="fa fa-calendar-check-o"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">@item.Titulo</span>
                                <span class="info-box-number">@item.Data</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /.row (main row) -->

    <div class="row">
        <div class="box box-solid">

            <div class="col-md-1 col-sm-12 col-xs-12">
                <button class="btn info-box-icon bg-green"><i class="fa fa-plus" data-toggle="modal" data-target="#modal-default"></i></button>
            </div>

        </div>
    </div>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Adicionar Novo Evento</h4>
                </div>
                <div class="modal-body">
                    @Html.Action("CadastrarEvento", "Evento")
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

